{% extends 'base.html' %}

{% block content %}
<section>
    <div class="mt-6 mb-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-8 col-lg-4">
                        <div class="card card-bg">
                            <div class="card-body p-5">
                                <form  method="post">
                                    {% csrf_token %}
                                    <div class="mb-3 mt-md-4">
                                        {% include 'form_header.html' %}
                                        <p class="mb-5 text-center fw-bolder">Форма сброса пароля</p>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" placeholder="Логин" name="username">
                                            <label for="username">Логин</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="number" min="{{from_year}}" max="{{now}}" class="form-control" placeholder="Год рождения" name="year_of_birth">
                                            <label for="year_of_birth">Год рождения</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" placeholder="*******" name="new_password">
                                            <label for="new_password">Новый пароль</label>
                                        </div>
                                        <div class="col-12 d-grid">
                                            <button class="btn btn-primary rounded-pill" type="submit">Изменить пароль</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

