{% extends 'base.html' %}

{% block content %}
<section>
    <div class="mt-6 mb-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-8 col-lg-4">
                        <div class="card card-bg">
                            <div class="card-body p-5">
                                {% include 'form_header.html' %}
                                <p class="mb-5 text-center fw-bolder">Форма сброса пароля</p>
                                <form  method="post">
                                    {% csrf_token %}
                                    <div class="mb-3 mt-md-4">
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" placeholder="*******" name="old_password">
                                            <label for="old_password">Текущий пароль</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" placeholder="*******" name="new_password_1">
                                            <label for="new_password_1">Новый пароль</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" placeholder="*******" name="new_password_2">
                                            <label for="new_password_2">Повторите новый пароль</label>
                                        </div>
                                    </div>
                                    <button  type="submit" class="btn btn-success">Изменить пароль</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}